body {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  text-align: center;
  background-color: #C0C0C0; }

#content {
  width: 800px;
  /* set to desired width in px or percent */
  text-align: left;
  /* optionally you could use "justified" */
  border: 0px;
  /* Changing this value will add lines around the centered area */
  padding: 0;
  margin: 0 auto; }

body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  text-transform: uppercase;
  color: white;
  font-weight: bold; }

h2 {
  text-transform: uppercase; }
